body {
  background-color: #D8D8D8;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
  width: 80%;
}

.scene {
  background-color: #DDD;
  box-shadow: inset 0px 0px 8px 0px #999;
}

.layers {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.layer {
  position: absolute;
}
